[submodule "Android-PickerView"]
	path = Android-PickerView
	url = https://github.com/cmguo/Android-PickerView.git
	branch=master
[submodule "MagicIndicator"]
	path = MagicIndicator
	url = https://github.com/cmguo/MagicIndicator.git
	branch=master

